<p>Hello <%= @resource.email %>!</p>

<p>パスワードを変更する場合は、下記のURLにアクセスし新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない方は、このメールを破棄していただいて問題ありません。</p>
<p>上記のURLからパスワードの変更をするまで現在のパスワードが変更されることはありません。</p>
